*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background-image: url(background.jpg);
}
  .boxwr{ 
    overflow: hidden;
    max-width: 390px;
    background: rgb(6, 5, 5);
    border-color: goldenrod;
    border-width: 14px;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0px 15px 20px rgba(35, 35, 35, 0.1);
    border: rgb(157, 121, 31) solid 1px;
  }
  .boxwr .title-text{
    display: flex;
    width: 200%;
  }
  .boxwr .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  ::selection{
    background: goldenrod;
    color: #fff;
  }
  .boxwr .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid goldenrod;
    border-radius: 5px;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: rgb(255, 255, 255);
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #e4a12c, #cfa05a);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: rgb(0, 0, 0);
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: rgb(255, 255, 255);
  }
  #login:checked ~ label.signup{
    color: rgb(255, 255, 255);
  }
  #login:checked ~ label.login{
    color: black;
    cursor: default;
    user-select: none;
  }
  .boxwr .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 35px;
    width: 80%;
    margin-top: 20px;
  }
  .form-inner form .field input{
    margin-left: 30px;
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 2px;
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    border-bottom-width: 2px;
    font-size: 13px;
    transition: all 0.3s ease;
    color: white;
  }
  .form-inner form .field input:focus{
    border-color: #f3b226;
    
  }
  .form-inner form .field input::placeholder{
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-top: 9px;
    text-align: left;
    margin-left: 31px;
    font-size: small;
  }
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: rgb(212, 212, 211);
    text-decoration: underline;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  .form .btn .btn-layer{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    background-color: #ffffffd8;
    color: rgb(0, 0, 0);
    padding-right: 27px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    font: bold;
  }